

<% if current_user == nil %>
<%= erb :_signup, :layout => true %>
<%= erb :_login, :layout => true %>
<% end %>

<div class="container">

  <h1>All Posts</h1>
    
  <ul>
    <% sort_by_votes(@posts).map do |post| %>
      <div id="list" class="inner-container">
        <li class="post-head"><a href="/post/<%= post.id%>"><%= post.title %></a><span class="username"> by <%= post.user.username %></span></li>
        <li>Votes: <%=count_votes(post) %></li>
        <li><a href="/post/<%=post.id%>/upvote">Upvote :)</a> </li>
        <li><a href="/post/<%=post.id%>/downvote">Downvote :( </a></li>
      </div>
    <% end %>

  </ul>
</div>
