<div class="container">
  <h1>Post</h1>
  <ul>
    <li class="post-head"><a href="/post/<%= @post.id%>">
      <%= @post.title %></a><span class="username"> by <%= @post.user.username %></span></li>
      <li class="post-body"><%= @post.body %></li>
      <li><a href="/post/<%=@post.id%>/upvote">Upvote :)</a> </li>
      <li><a href="/post/<%=@post.id%>/downvote">Downvote :( </a></li>
    </ul>
  </div>

  <div class="container">
    <%= erb :_comment_create, :layout => false %>
  </div>

  <div class="container">
  <div class="commment-list">
  
    <h1>Comment Votes</h1>
  
    <% if @post.comments %>
    <ul>
      <% sort_by_votes(@post.comments).map do |comment| %>
      <div id="list" class="inner-container">
        <li><%= comment.body %> by <%= comment.user.username %></li>
        <li>Votes: <%= count_votes(comment) %></li>
        <li><a href="/post/<%=@post.id%>/comment/<%=comment.id%>/upvote">Upvote :)</a> </li>
        <li><a href="/post/<%=@post.id%>/comment/<%=comment.id%>/downvote">Downvote :( </a></li>
      </div>
      <% end %>
    </ul>
    <% end %>

  </div>
  </div>
